.pageContainer {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.titleContainer {
	padding: 1.5em;
	vertical-align: middle;
	background: #0B3C5D;
}

.title {
	text-align: center;
	color: white;
}

.introContainer {
	padding: 1em;
}

#introTextContainer {
	padding-left: 10%;
	padding-right: 10%;
}

.introText {
	text-align: center;
	vertical-align: middle;
}

.contentContainer {
	padding-left: 5%;
	padding-right: 7.5%;
}

.content {
	padding: 0.5em;
	border-top: solid 1px black;
}

input {
	height: 2.5em;
	width: 20em;
	border-radius: 0.5em;
	border: solid 1px black;
}

.button {
	background: #328CC1;
	border: none;
	font-weight: bold;
}

.inputContainer {
	vertical-align: top;
	display: inline-block;
	padding-right: 2em;
}

.resultContainer {
	vertical-align: top;
	display: inline-block;
	overflow-x: auto;
	padding-left: 2em;
    max-height: 400px;
    overflow-y: auto;
}

.benchmarkTableContainer {
	width: 30%;
	position: relative;
	text-align: center;
}

table {
	border-collapse: collapse;
    width: 100%;
}


th, td {
	text-align: left;
    padding: 8px;
}

.bookCityHeader {
	background: #0B3C5D;

}

tr:nth-child(even){background-color: #f2f2f2}
