html(lang='en')
    head
        title Project Gutenberg
        link(href='../styles/styles.css', rel='stylesheet')
        script(src="http://maps.google.com/maps/api/js?key=AIzaSyAs4wpCq2-xBNwPTs6IHo8Cqyv6OjTjEB4" 
        type="text/javascript")
    body
        .pageContainer
            .titleContainer
                h1.title Welcome to our Project Gutenberg book miner

            .introContainer
                #introTextContainer
                    h3.introText Here you can execute 4 distinct queries that will find information from all books porvided by the Gutenberg project. These queries will be executed using two seperate databases, one being Mongo and the other Neo4J. The execution times are then shown and compared.

            .contentContainer 
                .content
                    h3 Book given, I should see a map with all cities mentioned in the book plotted on a map.
                    .inputContainer
                        input#bookToCity.textInput(placeholder="Type book title")
                        br
                        br
                        input.button#bookToCityButton(type="submit",value="Get mentioned cities")
                    .resultContainer
                        #citiesTable
                    .benchmarkTableContainer
                        #citiesTableBenchmark
                    .benchmarkTableContainer
                        #neoCitiesBenchmark

                .content
                    h3 City given, I can get the books mentioning the cities and authors of the books.
                    .inputContainer
                        input#cityToBookAuthor.textInput(placeholder="Type city name")
                        br
                        br
                        input.button#cityToBookAuthorButton(type="submit",value="Get books and author")
                    .resultContainer
                        #bookAuthorTable
                    .benchmarkTableContainer
                        #bookAuthorTableBenchmark
                    .benchmarkTableContainer
                        #neoBookAuthorBenchmark

                .content
                    h3 Geolocation given, books mentioning a city within a certain vicinity in meters are returned.
                    .inputContainer
                        input#cityToVicinity.textInput(placeholder="Type a geolocation")
                        input#cityToVicinityDistance.textInput(placeholder="Type a max distance")
                        br
                        br
                        input.button#cityToVicinityButton(type="submit",value="Get nearby cities")
                    .resultContainer
                        #citiesVicinityTable
                    .benchmarkTableContainer
                        #citiesVicinityTableBenchmark
                    .benchmarkTableContainer
                        #neoGeoBenchmark
                
                .content
                    h3 Author given, I should see the books he wrote and the cities plotted.
                    .inputContainer
                        input#authorToBookCities.textInput(placeholder="Type author full name")
                        br
                        br
                        input.button#authorToBookCitiesButton(type="submit",value="Get books and cities")
                    .resultContainer
                        #booksTable
                    .resultContainer
                        #bookCitiesTable
                    .benchmarkTableContainer
                        #bookCitiesTableBenchmark
                    .benchmarkTableContainer
                        #neoBookCitiesBenchmark

        //- #map(style="width: 100%; height: 400px; : fixed; bottom: 0;")

    //- script(type="text/javascript" src="../js/map.js")
    script(type="text/javascript" src="../js/tableGenerator.js")
    script(type="text/javascript" src="../js/mongoRequests.js")
    script(type="text/javascript" src="../js/neoRequests.js")
